<a href="https://colab.research.google.com/github/NourhanZahran/Collection-data-chemical.space.analysis/blob/main/feature_selection_of_finger_print_caspase3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install padelpy
! wget https://github.com/dataprofessor/padel/raw/main/fingerprints_xml.zip
! unzip fingerprints_xml.zip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting padelpy
  Downloading padelpy-0.1.13-py2.py3-none-any.whl (20.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 20.9/20.9 MB 63.8 MB/s eta 0:00:00
Installing collected packages: padelpy
Successfully installed padelpy-0.1.13
--2023-02-09 20:26:26--  https://github.com/dataprofessor/padel/raw/main/fingerprints_xml.zip
Resolving github.com (github.com)... 140.82.113.4
Connecting to github.com (github.com)|140.82.113.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/dataprofessor/padel/main/fingerprints_xml.zip [following]
--2023-02-09 20:26:26--  https://raw.githubusercontent.com/dataprofessor/padel/main/fingerprints_xml.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10871 (11K) [application/zip]
Saving to: ‘fingerprints_xml.zip’

fingerprints_xml.zi 100%[===================>]  10.62K  --.-KB/s    in 0s

2023-02-09 20:26:26 (60.9 MB/s) - ‘fingerprints_xml.zip’ saved [10871/10871]

Archive:  fingerprints_xml.zip
  inflating: AtomPairs2DFingerprintCount.xml
  inflating: AtomPairs2DFingerprinter.xml
  inflating: EStateFingerprinter.xml
  inflating: ExtendedFingerprinter.xml
  inflating: Fingerprinter.xml
  inflating: GraphOnlyFingerprinter.xml
  inflating: KlekotaRothFingerprintCount.xml
  inflating: KlekotaRothFingerprinter.xml
  inflating: MACCSFingerprinter.xml
  inflating: PubchemFingerprinter.xml
  inflating: SubstructureFingerprintCount.xml
  inflating: SubstructureFingerprinter.xml

In [ ]:
from padelpy import padeldescriptor

In [ ]:
padeldescriptor()

In [ ]:
padeldescriptor(mol_dir="dataset_full.smi",d_file="ESTATEFP.csv",descriptortypes="EStateFingerprinter.xml",fingerprints=True)

In [ ]:
padeldescriptor(mol_dir="dataset_full.smi",d_file="Kleo.csv",descriptortypes="KlekotaRothFingerprinter.xml",fingerprints=True)

KeyboardInterrupt: ignored

In [ ]:
padeldescriptor(mol_dir="dataset_full.smi",d_file="MACC.csv",descriptortypes="MACCSFingerprinter.xml",fingerprints=True)

In [ ]:
padeldescriptor(mol_dir="dataset_full.smi",d_file="pub.csv",descriptortypes="PubchemFingerprinter.xml",fingerprints=True)

In [ ]:
padeldescriptor(mol_dir="dataset_full.smi",d_file="Sub.csv",descriptortypes="SubstructureFingerprinter.xml",fingerprints=True)

In [ ]:
padeldescriptor(mol_dir="dataset_full.smi",d_file="AP.csv",descriptortypes="AtomPairs2DFingerprinter.xml",fingerprints=True)

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("ESTATEFP.csv")

In [ ]:
df.shape

(2106, 80)

In [ ]:
df.head()

,Name,EStateFP1,EStateFP2,EStateFP3,EStateFP4,EStateFP5,EStateFP6,EStateFP7,EStateFP8,EStateFP9,...,EStateFP70,EStateFP71,EStateFP72,EStateFP73,EStateFP74,EStateFP75,EStateFP76,EStateFP77,EStateFP78,EStateFP79
0,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x=df.drop("Name",axis=1)

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
v=VarianceThreshold(0)

In [ ]:
x=v.fit_transform(x)

In [ ]:
x=pd.DataFrame(x,columns=v.get_feature_names_out())

In [ ]:
x["label"]=df["Name"]

In [ ]:
x.shape

(2106, 37)

In [ ]:
x.to_csv("ESTATFP_BEST.csv",index=None)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
df=pd.read_csv("Kleo.csv")

In [ ]:
df.shape

(747, 4861)

In [ ]:
df.head()

,Name,KRFP1,KRFP2,KRFP3,KRFP4,KRFP5,KRFP6,KRFP7,KRFP8,KRFP9,...,KRFP4851,KRFP4852,KRFP4853,KRFP4854,KRFP4855,KRFP4856,KRFP4857,KRFP4858,KRFP4859,KRFP4860
0,1,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
2,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
3,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0,0,0
4,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
x=df.drop("Name",axis=1)

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
v=VarianceThreshold(0)

In [ ]:
x=v.fit_transform(x)

In [ ]:
x=pd.DataFrame(x,columns=v.get_feature_names_out())

In [ ]:
x["label"]=df["Name"]

In [ ]:
x.shape

(747, 1576)

In [ ]:
x.to_csv("Kleo_BEST.csv",index=None)

In [ ]:
df=pd.read_csv("MACC.csv")

In [ ]:
x.shape

(2106, 128)

In [ ]:
df.head()

,Name,MACCSFP1,MACCSFP2,MACCSFP3,MACCSFP4,MACCSFP5,MACCSFP6,MACCSFP7,MACCSFP8,MACCSFP9,...,MACCSFP157,MACCSFP158,MACCSFP159,MACCSFP160,MACCSFP161,MACCSFP162,MACCSFP163,MACCSFP164,MACCSFP165,MACCSFP166
0,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,1,1,1,1,1,0
1,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
2,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
3,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,1,0
4,0,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,1,0

In [ ]:
x=df.drop("Name",axis=1)

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
x=v.fit_transform(x)

In [ ]:
x=pd.DataFrame(x,columns=v.get_feature_names_out())

In [ ]:
x["label"]=df["Name"]

In [ ]:
df.shape

(2106, 167)

In [ ]:
x.to_csv("MACC_BEST.csv",index=None)

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("Sub.csv",error_bad_lines=False, engine="python")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.shape

(2106, 308)

In [ ]:
df.head()

,Name,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP7,SubFP8,SubFP9,...,SubFP298,SubFP299,SubFP300,SubFP301,SubFP302,SubFP303,SubFP304,SubFP305,SubFP306,SubFP307
0,1,0,1,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,1
1,1,1,1,1,0,1,0,0,0,0,...,0,0,1,1,1,1,0,0,0,1
2,1,1,1,1,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
3,1,1,1,1,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
4,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1

In [ ]:
X = df.drop("Name",axis=1)

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
v=VarianceThreshold(0)

In [ ]:
df_=v.fit_transform(x)

In [ ]:
df_=pd.DataFrame(x,columns=v.get_feature_names_out())

In [ ]:
df.shape

In [ ]:
df.to_csv("SUB_BEST.csv",index=None)

In [ ]:
df=pd.read_csv("pub.csv",error_bad_lines=False, engine="python")

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df.shape

(2106, 882)

In [ ]:
df.head()

,Name,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X = df.drop("Name", axis=1)

In [ ]:
X.head()

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP4,PubchemFP5,PubchemFP6,PubchemFP7,PubchemFP8,PubchemFP9,...,PubchemFP871,PubchemFP872,PubchemFP873,PubchemFP874,PubchemFP875,PubchemFP876,PubchemFP877,PubchemFP878,PubchemFP879,PubchemFP880
0,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
v=VarianceThreshold(0)

In [ ]:
X_ = v.fit_transform(X)

In [ ]:
X_ = pd.DataFrame(X_, columns=v.get_feature_names_out())
X_

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP11,PubchemFP12,PubchemFP13,PubchemFP14,PubchemFP15,PubchemFP16,...,PubchemFP840,PubchemFP841,PubchemFP842,PubchemFP860,PubchemFP861,PubchemFP862,PubchemFP863,PubchemFP866,PubchemFP872,PubchemFP875
0,1,1,1,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2101,1,1,1,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2102,1,1,1,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
2103,1,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2104,1,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2105,1,1,0,0,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_["label"] = df["Name"]

X_.head()

,PubchemFP0,PubchemFP1,PubchemFP2,PubchemFP3,PubchemFP11,PubchemFP12,PubchemFP13,PubchemFP14,PubchemFP15,PubchemFP16,...,PubchemFP841,PubchemFP842,PubchemFP860,PubchemFP861,PubchemFP862,PubchemFP863,PubchemFP866,PubchemFP872,PubchemFP875,label
0,1,1,1,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
1,1,1,1,1,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
2,1,1,1,1,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
3,1,1,1,0,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
4,1,1,1,0,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
X_.shape

(2106, 596)

In [ ]:
X_.to_csv("PubChemFP_best.csv",index=None)

In [ ]:
df=pd.read_csv("AP.csv")

In [ ]:
df.shape

(2106, 781)

In [ ]:
df.head()

,Name,AD2D1,AD2D2,AD2D3,AD2D4,AD2D5,AD2D6,AD2D7,AD2D8,AD2D9,...,AD2D771,AD2D772,AD2D773,AD2D774,AD2D775,AD2D776,AD2D777,AD2D778,AD2D779,AD2D780
0,1,1,1,1,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,1,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
x=df.drop("Name",axis=1)

In [ ]:
x.head()

,AD2D1,AD2D2,AD2D3,AD2D4,AD2D5,AD2D6,AD2D7,AD2D8,AD2D9,AD2D10,...,AD2D771,AD2D772,AD2D773,AD2D774,AD2D775,AD2D776,AD2D777,AD2D778,AD2D779,AD2D780
0,1,1,1,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,1,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,1,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
v=VarianceThreshold(0)

In [ ]:
x=v.fit_transform(x)

In [ ]:
x=pd.DataFrame(x,columns=v.get_feature_names_out())

In [ ]:
x["label"]=df["Name"]

In [ ]:
x.shape

(2106, 356)

In [ ]:
x.to_csv("AP_BEST.csv",index=None)

In [ ]:
df=pd.read_csv("Sub.csv")

In [ ]:
df.shape

(2106, 308)

In [ ]:
df.head()

,Name,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP7,SubFP8,SubFP9,...,SubFP298,SubFP299,SubFP300,SubFP301,SubFP302,SubFP303,SubFP304,SubFP305,SubFP306,SubFP307
0,1,0,1,0,0,0,0,0,0,1,...,0,0,1,1,1,0,0,0,0,1
1,1,1,1,1,0,1,0,0,0,0,...,0,0,1,1,1,1,0,0,0,1
2,1,1,1,1,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
3,1,1,1,1,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
4,0,0,1,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1

In [ ]:
x=df.drop("Name",axis=1)

In [ ]:
x.head()

,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP7,SubFP8,SubFP9,SubFP10,...,SubFP298,SubFP299,SubFP300,SubFP301,SubFP302,SubFP303,SubFP304,SubFP305,SubFP306,SubFP307
0,0,1,0,0,0,0,0,0,1,0,...,0,0,1,1,1,0,0,0,0,1
1,1,1,1,0,1,0,0,0,0,0,...,0,0,1,1,1,1,0,0,0,1
2,1,1,1,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
3,1,1,1,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,0,1,1,1,0,0,0,0,1

In [ ]:
from sklearn.feature_selection import VarianceThreshold

In [ ]:
v=VarianceThreshold(0)

In [ ]:
x=v.fit_transform(x)

In [ ]:
x=pd.DataFrame(x,columns=v.get_feature_names_out())

In [ ]:
x["label"]=df["Name"]

In [ ]:
x.shape

(2106, 128)

In [ ]:
x.head()

,SubFP1,SubFP2,SubFP3,SubFP4,SubFP5,SubFP6,SubFP8,SubFP9,SubFP10,SubFP12,...,SubFP294,SubFP296,SubFP297,SubFP298,SubFP299,SubFP300,SubFP301,SubFP302,SubFP303,label
0,0,1,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,1,1,0,1
1,1,1,1,0,1,0,0,0,0,0,...,0,0,0,0,0,1,1,1,1,1
2,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
3,1,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,1
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,1,1,0,0

In [ ]:
x.to_csv("Sub_BEST.csv",index=None)